.LoginPage{
    width: 100%;
    height: 100dvh;
    background: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box{
    width: 40rem;
    height: 20rem;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    border-radius: 20px;
}

.contents{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 45px;
}

.brand {
    width: 12rem;
}

.features{
    width: 12rem;
    height: 12rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.input{
    width: 100%;
    height: 34px;
    border: 1px solid black;
    border-radius: 34px;
    text-align: center;
}
.input-submit{
    background-color: #57b846;
    border: none;
}